{{extend '../_layouts/home.html'}}

{{block 'title'}}{{'多人博客 - 首页'}}{{/block}}

{{block 'head'}}
<link rel="stylesheet" href="/public/css/markdown-github.css">
<style>
  .panel .panel-heading .action i {
    margin-right: 10px;
  }
</style>
{{/block}}

{{block 'body'}}
<section class="container">
  <div class="row">
    <div class="col-md-9" id="article">
      <!-- template模板 -->
      <hr>
      <form>
        <div class="form-group">
          <label for="exampleInputPassword1">添加回复</label>
          <textarea class="form-control" name="" id="" cols="10" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-success">回复</button>
      </form>
    </div>
  </div>
</section>
{{/block}}

{{block 'script'}}
  <script src="/node_modules/art-template/lib/template-web.js"></script>
  <script id="template" type="text/html">
    <% if (data) { %>
      <article class="markdown-body">
        <div class="media">
          <div class="media-body">
            <h3 class="media-heading">            
              <% if (data.top) { %>
              <span class="top">
                置顶
              </span>
              <% } %>
              <%= data.title %>
            </h3>
            <p class="article-info">
              <span>发布于<%= $imports.dateFormat(data.create_at) %></span>
              
              <span>作者<%= data.author.loginname %></span>
              <span><%= data.visit_count %>次浏览</span>
            </p>
            <hr>
          </div>
        </div>
        <div id="content"></div>
      </article>
      <% for(var i = 0; data.replies && i < data.replies.length; i++) { %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <span><%= data.replies[i].author && data.replies[i].author.loginname %></span>
            <span class="detail">
              <%= i + 1 %>楼 
             <span class="time"><%= $imports.time(data.replies[i].create_at) %>天前</span>
            </span>
            <span class="action">
              <a href=""><i class="glyphicon glyphicon-thumbs-up pull-right"></i></a>
            </span>
          </div>
          <!-- 原文输出语句不会对 HTML 内容进行转义处理，可能存在安全风险，请谨慎使用。 -->
          <div class="panel-body">
            <%- data.replies[i].content %>
          </div>
        </div>
      <% } %>
    <% } %>
  </script>
  <script>
    // 扩展jquery获取url参数的方法
    var params = ''
    var pathArr = window.location.pathname.split('/')
    pathArr.length && (params = pathArr[pathArr.length - 1])
    // 日期格式化
    template.defaults.imports.dateFormat = function(date, format){
      var time = date.replace(/T/g, ' ')
      time = time.split('.').length && time.split('.')[0]
      return  time
    };

    template.defaults.imports.timestamp = function(value){return value * 1000};

    template.defaults.imports.time = function(value){
      return Math.floor((new Date().valueOf() - new Date(value).valueOf()) / (24 * 60 * 60 * 1000))
    };
    $.ajax({
      method: 'get',
      url: 'https://cnodejs.org/api/v1/topic/' + params,
      success: function(data) {
        if (data.success) {
          var data = data.data
          console.log(data)
          var html = template('template', {
            data: data
          })
          $('#article').html(html)
          $('#content').html(data.content)
        } else {
          console.log(data.error)
        }
      }
    })
  </script>
{{/block}}